{layout 'layout.latte'}
{block title}Pelanggan Dashboard{/block}
{block content}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow">
        <div class="card-header">Selamat datang, {$nama}</div>
        <div class="card-body">
            Anda login sebagai, Pelanggan!
        </div>
    </div>
</div>
{/block}